<div class="modal-dialog modal-lg money-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Please Insert the Required Amount</h4>
		</div>
		<div class="modal-body">
			Insert <div class="money">{{money debt}}</div>
		</div>
	</div>
</div>
